@import url(./css/navbar.css);
@import url(./css/fixer.css);
@import url(./css/about.css);
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  color: white;

  font-family: 'Raleway', sans-serif;
  
  background-color: #EEF4ED;;
}
ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
main{
  display: flex;
  justify-content: center;

  margin-top: 80px;
}
h1{
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.4px;
  
  color: #2974CB;

  margin-block: 75px;

  text-align: center;
}