html{
  overflow-x: hidden;
}
body {
  margin: 0;
  color: white;

  font-family: 'Raleway', sans-serif;
  
  background-color: #EEF4ED;;
}
ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
main{
  display: flex;
  justify-content: center;

  margin-top: 80px;
}
h1{
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.4px;
  
  color: #2974CB;

  margin-block: 75px;

  text-align: center;
}

@media(max-width: 1440px){
  main{
    margin-top: 70px;
  }
  h1{
    font-size: 40px;
  
    margin-block: 70px;
  }
}
@media(max-width: 1024px){
  main{
    margin-top: 60px;
  }
  h1{
    font-size: 36px;
  
    margin-block: 60px;
  }
}
@media(max-width: 800px){
  body{
    -webkit-tap-highlight-color: transparent;
  }
  main{
    margin-top: 55px;
  }
  h1{
    font-size: 32px;
  
    margin-block: 55px;
  }
}
@media(max-width: 600px){
  main{
    margin-top: 45px;
  }
  h1{
    font-size: 21px;
  
    margin-block: 45px;
  }
}